

.nav-links {
  list-style:none;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  white-space: nowrap;
  text-align: center;

}

.nav-links::-webkit-scrollbar {
  height:6px;
  background: transparent;
  border:2px solid rgb(255, 255, 255);
}
.nav-links::-webkit-scrollbar-thumb{
  background-color: rgb(218, 227, 218);
}
/* .nav-links::-webkit-scrollbar-track-piece:end{
  margin-right: 25px;
} */
/* .nav-links::-webkit-scrollbar-track-piece:start{
  margin-left: 200px;
} */

@media (max-width: 540px){
  .nav-links::-webkit-scrollbar{
    display: none;
    
  }

}
